<nav class="navbar navbar-light navbar-expand-md justify-content-center">
  <button #navbarToggler class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end" (click)="collapseNav()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/reservation']">Reservation</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/boats']">Boats</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>